[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"
cmdc = {editable = true, path = "."}
importlib-metadata = "*"

[packages]
requests = "*"
pandas = "*"
email-validator = "*"
us = "*"
urllib3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
